# This file is distributed under the same license as the Django package.
#
# Translators:
# Viktar Palstsiuk <vipals@gmail.com>, 2014-2015
# znotdead <zhirafchik@gmail.com>, 2016-2017,2019-2021,2023-2025
# Bobsans <mr.bobsans@gmail.com>, 2016
msgid ""
msgstr ""
"Project-Id-Version: django\n"
"Report-Msgid-Bugs-To: \n"
"POT-Creation-Date: 2025-03-19 11:30-0500\n"
"PO-Revision-Date: 2025-09-17 06:49+0000\n"
"Last-Translator: znotdead <zhirafchik@gmail.com>, "
"2016-2017,2019-2021,2023-2025\n"
"Language-Team: Belarusian (http://app.transifex.com/django/django/language/"
"be/)\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Language: be\n"
"Plural-Forms: nplurals=4; plural=(n%10==1 && n%100!=11 ? 0 : n%10>=2 && "
"n%10<=4 && (n%100<12 || n%100>14) ? 1 : n%10==0 || (n%10>=5 && n%10<=9) || "
"(n%100>=11 && n%100<=14)? 2 : 3);\n"

msgid "Afrikaans"
msgstr "Афрыкаанс"

msgid "Arabic"
msgstr "Арабская"

msgid "Algerian Arabic"
msgstr "Алжырская арабская"

msgid "Asturian"
msgstr "Астурыйская"

msgid "Azerbaijani"
msgstr "Азэрбайджанская"

msgid "Bulgarian"
msgstr "Баўгарская"

msgid "Belarusian"
msgstr "Беларуская"

msgid "Bengali"
msgstr "Бэнґальская"

msgid "Breton"
msgstr "Брэтонская"

msgid "Bosnian"
msgstr "Басьнійская"

msgid "Catalan"
msgstr "Каталёнская"

msgid "Central Kurdish (Sorani)"
msgstr "Цэнтральнакурдская (сарані)"

msgid "Czech"
msgstr "Чэская"

msgid "Welsh"
msgstr "Валійская"

msgid "Danish"
msgstr "Дацкая"

msgid "German"
msgstr "Нямецкая"

msgid "Lower Sorbian"
msgstr "Ніжнелужыцкая"

msgid "Greek"
msgstr "Грэцкая"

msgid "English"
msgstr "Анґельская"

msgid "Australian English"
msgstr "Анґельская (Аўстралія)"

msgid "British English"
msgstr "Анґельская (Брытанская)"

msgid "Esperanto"
msgstr "Эспэранта"

msgid "Spanish"
msgstr "Гішпанская"

msgid "Argentinian Spanish"
msgstr "Гішпанская (Арґентына)"

msgid "Colombian Spanish"
msgstr "Гішпанская (Калумбія)"

msgid "Mexican Spanish"
msgstr "Гішпанская (Мэксыка)"

msgid "Nicaraguan Spanish"
msgstr "Гішпанская (Нікараґуа)"

msgid "Venezuelan Spanish"
msgstr "Іспанская (Вэнэсуэла)"

msgid "Estonian"
msgstr "Эстонская"

msgid "Basque"
msgstr "Басконская"

msgid "Persian"
msgstr "Фарсі"

msgid "Finnish"
msgstr "Фінская"

msgid "French"
msgstr "Француская"

msgid "Frisian"
msgstr "Фрызкая"

msgid "Irish"
msgstr "Ірляндзкая"

msgid "Scottish Gaelic"
msgstr "Гэльская шатляндзкая"

msgid "Galician"
msgstr "Ґальская"

msgid "Hebrew"
msgstr "Габрэйская"

msgid "Hindi"
msgstr "Гінды"

msgid "Croatian"
msgstr "Харвацкая"

msgid "Upper Sorbian"
msgstr "Верхнелужыцкая"

msgid "Hungarian"
msgstr "Вугорская"

msgid "Armenian"
msgstr "Армянскі"

msgid "Interlingua"
msgstr "Інтэрлінгва"

msgid "Indonesian"
msgstr "Інданэзійская"

msgid "Igbo"
msgstr "Ігба"

msgid "Ido"
msgstr "Іда"

msgid "Icelandic"
msgstr "Ісьляндзкая"

msgid "Italian"
msgstr "Італьянская"

msgid "Japanese"
msgstr "Японская"

msgid "Georgian"
msgstr "Грузінская"

msgid "Kabyle"
msgstr "Кабільскі"

msgid "Kazakh"
msgstr "Казаская"

msgid "Khmer"
msgstr "Кхмерская"

msgid "Kannada"
msgstr "Каннада"

msgid "Korean"
msgstr "Карэйская"

msgid "Kyrgyz"
msgstr "Кіргізская"

msgid "Luxembourgish"
msgstr "Люксэмбургская"

msgid "Lithuanian"
msgstr "Літоўская"

msgid "Latvian"
msgstr "Латыская"

msgid "Macedonian"
msgstr "Македонская"

msgid "Malayalam"
msgstr "Малаялам"

msgid "Mongolian"
msgstr "Манґольская"

msgid "Marathi"
msgstr "Маратхі"

msgid "Malay"
msgstr "Малайская"

msgid "Burmese"
msgstr "Бірманская"

msgid "Norwegian Bokmål"
msgstr "Нарвэская букмал"

msgid "Nepali"
msgstr "Нэпальская"

msgid "Dutch"
msgstr "Галяндзкая"

msgid "Norwegian Nynorsk"
msgstr "Нарвэская нюнорск"

msgid "Ossetic"
msgstr "Асяцінская"

msgid "Punjabi"
msgstr "Панджабі"

msgid "Polish"
msgstr "Польская"

msgid "Portuguese"
msgstr "Партуґальская"

msgid "Brazilian Portuguese"
msgstr "Партуґальская (Бразылія)"

msgid "Romanian"
msgstr "Румынская"

msgid "Russian"
msgstr "Расейская"

msgid "Slovak"
msgstr "Славацкая"

msgid "Slovenian"
msgstr "Славенская"

msgid "Albanian"
msgstr "Альбанская"

msgid "Serbian"
msgstr "Сэрбская"

msgid "Serbian Latin"
msgstr "Сэрбская (лацінка)"

msgid "Swedish"
msgstr "Швэдзкая"

msgid "Swahili"
msgstr "Суахілі"

msgid "Tamil"
msgstr "Тамільская"

msgid "Telugu"
msgstr "Тэлуґу"

msgid "Tajik"
msgstr "Таджыкскі"

msgid "Thai"
msgstr "Тайская"

msgid "Turkmen"
msgstr "Туркменская"

msgid "Turkish"
msgstr "Турэцкая"

msgid "Tatar"
msgstr "Татарская"

msgid "Udmurt"
msgstr "Удмурцкая"

msgid "Uyghur"
msgstr "Уйгурскі"

msgid "Ukrainian"
msgstr "Украінская"

msgid "Urdu"
msgstr "Урду"

msgid "Uzbek"
msgstr "Узбецкі"

msgid "Vietnamese"
msgstr "Віетнамская"

msgid "Simplified Chinese"
msgstr "Кітайская (спрошчаная)"

msgid "Traditional Chinese"
msgstr "Кітайская (звычайная)"

msgid "Messages"
msgstr "Паведамленні"

msgid "Site Maps"
msgstr "Мапы сайту"

msgid "Static Files"
msgstr "Cтатычныя файлы"

msgid "Syndication"
msgstr "Сындыкацыя"

#. Translators: String used to replace omit